.custom-grid {
    -fx-background-color:linear-gradient(from 25% 25% to 100% 100%,#00BFFF, #7B68EE);
}


.custom-textfield {
    -fx-background-color: grey;
    -fx-text-fill: black;
    -fx-padding: 5px;
    -fx-background-radius: 20
}


.custom-button {
    -fx-background-color: #007acc;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
    -fx-padding: 10px 15px;
    -fx-font-weight: bold;
}


.custom-button:hover {
    -fx-background-color: #005a9e;
}


.custom-button:pressed {
    -fx-background-color: #004080;
}
.label{
    -fx-text-fill: black;
}
.custom-combobox {
    -fx-background-color: green;
    -fx-border-color: #007acc;
    -fx-border-radius: 5px;
    -fx-text-fill: white;
}


.custom-combobox .text-field {
    -fx-background-color: #444;
    -fx-text-fill: white;
}


.custom-combobox .arrow-button {
    -fx-background-color: #007acc;
    -fx-border-radius: 5px;
}


.custom-combobox .list-view {
    -fx-background-color: green;
    -fx-border-color: #007acc;
}


.custom-combobox .list-cell {
    -fx-text-fill: black;
}


.custom-combobox .list-cell:hover {
    -fx-background-color: #005a9e;
}